.n-layout
{
	background-image: url(https://cdn.seovx.com/d/?mom=302);
	filter: brightness(100%);
	backdrop-filter: blur(20px);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

/*页面背景*/
.n-layout-sider
{
	background-color: rgba(255, 255, 255, 0.8);
}

/*侧边栏背景色*/
.n-icon
{
	color: rgb(83, 114, 248)
}

/*左侧图标颜色*/
.n-data-table
{
	--merged-th-color: #F1F1F1;
	--merged-td-color: rgba(241, 241, 241, 0.4);
	--merged-td-color-hover: rgba(158, 158, 158, 0.6);
}

/*列表页背景色*/
.user-info-avatar
{
	content: url(https://s2.loli.net/2021/12/15/fKiaZgWSvnd5lQN.jpg);
}

/*自定义头像*/
.content
{
	background: rgba(255, 255, 255, 0.6);
}

.status-bar
{
	background: rgba(255, 255, 255, 0.8);
}

.task-list
{
	background: rgba(255, 255, 255, 0.8);
}

.status-bar .status-bar-wrapper
{
	background-color: #00000000;
}

/*右下角bar透明*/
.n-text
{
	color: rgb(83, 114, 248);
}

/*功能项文字颜色*/
.n-progress .n-progress-graph .n-progress-graph-line .n-progress-graph-line-rail
{
	background-color: rgba(244, 237, 219, 0.80);
}

/*容量进度条未用部分颜色*/
.n-collapse
{
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	padding: 10px;
}

/*设置页背景颜色及尺寸*/
.n-row
{
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/*邀请页表头透明，列表圆角*/
.n-statistic .n-statistic__label
{
	color: #3f51b5;
}

/*邀请页表头文字颜色*/
.n-statistic
{
	padding-left: 10px;
	padding-top: 10px;
}

.n-scrollbar
{
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/*列表圆角*/
.header
{
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.n-breadcrumb
{
	padding-left: 20px;
}

/*列表页表头圆角*/
.header .action
{
	margin-right: 10px;
}
